.form-container {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-bottom: 2rem;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    width: 100%;
}

.tipos-title {
    font-size: 18px;
    font-weight: 500;
    margin: 6px;
}

.tipo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    cursor: pointer;
}

.tipo:hover,
.tipo:focus {
    background-color: #ff6f61;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tipo.selected {
    background-color: #ee564b;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tipo input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.tipo label {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 8px;
    cursor: pointer;
}

.tipo label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.tipo input:checked + label:before {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ee564b;
    border-color: #ee564b;
}

.tipo input:focus + label:before {
    outline: #ff6f61 auto 5px;
}

.tipo label:hover:before {
    border-color: #ff6f61;
}
.button-disabled {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #de7b74;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.button-submit {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f44336;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.button-submit:hover {
    background-color: #fff;
    color: #f44336;
    border: 1px solid #f44336;
    cursor: pointer;
}

.error {
    color: #f44336;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    line-height: 1;
}

@media screen and (max-width: 480px) {
    .form-container {
        padding: 80px;
    }

    .title {
        font-size: 1.5rem;
    }

    .input {
        font-size: 1rem;
    }

    .label {
        font-size: 16px;
    }

    .tipos-title {
        font-size: 16px;
    }

    .tipo {
        font-size: 0.9rem;
    }

    .button-submit {
        margin-top: 10px;
    }

    .error {
        font-size: 0.9rem;
    }
}
